#panel {
  width: calc(30% - 4px);
  height: calc(100% - 152px);
  background-color: gray;
  border: 3px solid black;
  padding: 20px;
}

#heading {
  user-select: none;
}

.formLabel {
  margin-right: 10px;
  font-size: 20px;
  user-select: none;
}

.formSubheading {
  text-align: left;
  font-weight: bolder;
  font-size: 22px;
  padding-left: 20px;
  margin-top: 20px;
  user-select: none;
}

.leftAligned {
  text-align: left;
  padding-left: 20px;
  user-select: none;
}

.formInput {
  background-color: gray;
  border: none;
  font-size: 20px;
  font-weight: bolder;
  border-bottom: 2px solid black;
  width: 30%;
  text-align: center;
}

.formButtonStyle {
  padding: 10px;
  margin-top: 20px;
  background-color: red;
  border: 2px solid black;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  transition-duration: 0.1s;
  margin-right: 20px;
}

.formInput:focus {
  outline: none;
  border-bottom: 2px solid blue;
}

.formButtonStyle:active {
  transform: translateY(2px);
}
