#app {
  width: 100vw;
  height: 100vh;
  background-color: gray;
  text-align: center;
  cursor: pointer;
}

#header {
  width: calc(100% - 6px);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 3px solid black;
}

#body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

#graphDisplay {
  padding: 20px;
  height: calc(100% - 152px);
  width: 70%;
  border: 3px solid black;
}

.buttonStyle {
  padding: 20px;
  background-color: #4caf50;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  transition-duration: 0.1s;
  margin-right: 20px;
}

#informationText {
  font-size: 24px;
  color: white;
  font-weight: 600;
}

.buttonStyle:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.buttonStyle:active {
  transform: translateY(2px);
}
